<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p>Ahoy there,</p>

    <p>
      Your request for a report from Netra is complete.
      <br/>

      Please find the attached report for your reference.
      <br/><br/>

      Regards,<br/>
      Team POTC
      <br/><br/>

      <strong>Note: This is an auto generated email, Do NOT reply back to this email</strong>
    </p>
  </body>
</html>
